
/* Typography */
body {
  /* Everything is Raleway */
  font-family: 'Lato', sans-serif;
}

/* h1, h2, {
  font-family: 'Lato', sans-serif;

} */

.navbar-brand {
  font-size: 40px;
}

/* Navbar background color */
.navbar {
  background-color: white;
}

.jumbotron {
  /* Background */
  background-image: url(jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 650px;
}

.jumbotron-album {
  /* Background */
 text-align: center;
 background-color: #F6F4F4;
 padding: 3rem;
}

.jumbotron-album-icon {
  font-size: 40px;
}


h1, .jumbotron, .display-4 {
  color: black;
  font-weight: 1000;
  font-family: 'Sacramento', cursive;
}

.bottomrsvp {
  background-color: black;
  color: white;
  text-align: center;
}

/* .rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

img.resize {
  width:540px; 
  height: auto;
} */

.album {
  /* Background */
 /* padding: 4rem; */
 height: auto;
}

.rsvp-form {
  font-size: 20px;
  border: 15px solid ;
  border-color: #F6F4F4;
}

.table {
  font-size: 10px;
}